<% if file_counter == 0 %>
  <li class="breadcrumb-item">
    <% file_path_url = navigator ? navigateFiles_path(full_path.parent) : files_path(full_path.parent) %>
    <a href="<%= file_path_url %>" style="margin-right: 20px;" class="d btn btn-outline-dark btn-sm" title="Go up directory">
      <span class="fa fa-arrow-up"></span></a>
  </li>
<% end %>
<% if file_counter == (file_count - 1) %>
  <li class="breadcrumb-item">
    <%= path_segment_with_slash(file.basename.to_s, file_counter, file_count) %>
  </li>
  <% if navigator != true %>
    <li class="breadcrumb-item ml-3">
      <button id="goto-btn" type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-edit" aria-hidden="true"></i> Change directory</button>
    </li>
    <li class="breadcrumb-item ml-auto">
      <button id="copy-path" class="btn btn-outline-dark btn-sm " data-clipboard-text="<%= file.to_s %>"><span class="fa fa-clipboard"></span> Copy path</button>
    </li>
  <% end %>
<% else %>
  <li class="breadcrumb-item">
    <% file_path_url = navigator ? navigateFiles_path(file) : files_path(file) %>
    <%= link_to path_segment_with_slash(file.basename.to_s, file_counter, file_count), file_path_url, class: (file_counter == (file_count - 1) ? 'd active' : 'd')  %>
  </li>
<% end %>
